# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 2.7
      uses: actions/setup-python@v2
      with:
        python-version: 2.7
      
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        python ./setup.py install
        
          
    - name: Test with unittest
      uses: actions/checkout@v2
      with:
        name: my-artifact
        path: path/to/artifact
      env:
        SOCCER_CLI_API_TOKEN: ${{ secrets.SOCCER_CLI_API_TOKEN }}
      run: |
        python -m unittest discover tests
