# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    
      - name: Chackout repo's code
        uses: actions/checkout@v2

      - name: Set up Python 2.7
        uses: actions/setup-python@v2
        with:
          python-version: 2.7
        env:
          SOCCER_CLI_API_TOKEN: ${{ secrets.SOCCER_CLI_API_TOKEN }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          python ./setup.py install

      - name: Upload Artifacts
        uses: actions/upload-artifact@master
        with:
          name: soccer-cli_artifacts
          path: ./

  test:

    runs-on: ubuntu-latest

    needs: build

    steps:

      - name: Chackout repo's code
        uses: actions/checkout@v2

      - name: Download Atrifacts
        uses: actions/download-artifact@master
        with:
          name: soccer-cli_artifacts
          path: ./

      - name: Set up Python 2.7
        uses: actions/setup-python@v2
        with:
          python-version: 2.7
        env:
          SOCCER_CLI_API_TOKEN: ${{ secrets.SOCCER_CLI_API_TOKEN }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          python ./setup.py install

      - name: Test with unittest
        run: |
          python -m unittest discover tests
        env:
          CI: true

  docker-build-push-image:
    
    runs-on: ubuntu-latest
    
    needs: test
    
    name: Docker Build, Tag, Push

    steps:

      - name: Checkout
        uses: actions/checkout@v1
      
      - name: Download built artifact
        uses: actions/download-artifact@master
        with:
          name: soccer-cli_artifacts
          path: ./

      - name: Build container image
        uses: docker/build-push-action@v1
        with:
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}
          registry: docker.pkg.github.com
          repository: yauh-ask/soccer/soccer-cli
          tag_with_sha: true